.movie-backdrop {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.single-movie-feature-display {
  position: relative;
}

.movie-tagline {
  position: absolute;
  text-align: center;
  top: 85vh;
  width: 100%;
  font-size: 20px;
}

.movie-genres-and-release-date {
  position: absolute;
  text-align: center;
  top: 90vh;
  width: 100%;
  font-size: 15px;
}

.movie-title {
  display: flex;
  justify-content: space-evenly;
}

.single-view {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}

.movie-info-container {
  display: flex;
  justify-content: center;
}

.movie-poster {
  margin: 2%;
  margin-top: 4.6%;
  border-radius: 6px;
}

.movie-info {
  color: #a1a1a6;
  background-color: #575757;
  border-radius: 6px;
  padding: 5%;
  text-align: center;
}

.movie-titles {
  color: white;
}

.information-title {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: 20px;
  color: white;
}

.information-div {
  width: 30%;
}

.darker-div {
  width: 40%
}

.movie-overview-container {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #575757;
  padding: 5%;
  border-radius: 6px;
  text-align: center;
}

.badge {
  opacity: .6;
  border: 1px solid white;
  margin: 5px;
  padding: 2px;
  border-radius: 6px;
  font-size: 10px;
}

.overview-title {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: 20px;
  color: white;
}

.movie-overview {
  line-height: 1.5em;
}

button {
  font-family: 'Questrial';
  color: white;
  background-color: #0a84ff;
  border-radius: 6px;
  height: 28px;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
  border:none;
}

.copyright {
  margin-top: 75px;
  text-align: center;
}

.copyright-title {
  font-size: 12px;
  opacity: .6;
  margin: 5px;
}

.links {
  font-size: 12px;
  margin: 5px;
}
