.featureImage {
  height: 100vh;
  width: 100vw;
  background: fixed;
}

.featureDisplay {
  position: relative;
}

h1 {
  position: absolute;
  top: 80vh;
  left: 40vw;
  font-family: 'Questrial';
  font-size: 48px;
  color: white;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
    left: 15vw;
    top: 85vh;
  }
}

@media screen and (min-width: 500px) {
  h1 {
    top: 80vh;
    left: 40vw;
    font-size: 48px;
  }
}

h3 {
  position: absolute;
  text-align: left;
  top: 1vh;
  margin-left: 2vw;
  font-family: 'Questrial';
  font-size: 30px;
  color: white;
}
