.tomato {
  height: 40px;
  width: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 6vh;
}

.sign-in-button {
  font-family: 'Questrial';
  color: white;
  background-color:#0a84ff;
  border-radius: 6px;
  margin-bottom: .6vh;
  cursor: pointer;
  border:none;
  margin-right: 2%;
}
