.featureImage {
  height: 100vh;
  width: 100vw;
  background: fixed;
}

h1 {
  position: absolute;
  top: 85vh;
  left: 40vw;
  font-family: 'Questrial';
  font-size: 48px;
  color: white;
}

h3 {
  text-align: left;
  position: absolute;
  margin-left: 2vw;
  font-family: 'Questrial';
  font-size: 30px;
  color: white;
}
