.tomato {
  height: 50px;
  width: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100vw;
}

.sign-in-button {
  font-family: 'Questrial';
  color: white;
  background-color:#0a84ff;
  border-radius: 6px;
  height: 28px;
  margin-left: 5px;
  margin-top: .8%;
  cursor: pointer;
  border:none;
  margin-right: 2%;
}
