.movie-backdrop {

  position: relative;
  background:linear-gradient(to bottom,transparent 50%,rgba(0,0,0,.2) 60%,rgba(0,0,0,.7) 100%);
  width: 100vw;
  height: 100vh;
}

.movie-tagline {
  position: absolute;
  text-align: center;
  top: 85vh;
  width: 100%;
  font-size: 20px;
}

.movie-genres-and-release-date {
  position: absolute;
  text-align: center;
  top: 90vh;
  width: 100%;
  font-size: 15px;
}
